{% extends 'cabinet.html.twig' %}

{% block title %}Subscription{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="container">
	<div class="row justify-content-center">
		<div>
			<h1>Checkout</h1>
			<input type="text" id="amount-input" name="price" value="{{ sub.price }}" hidden>
			<input type="text" id="sub-comments" name="comments" value="{{ sub.comments }}" hidden>
			<input type="text" id="sub-likes" name="likes" value="{{ sub.likes }}" hidden>
			<input type="text" id="shot-id" name="shot" value="{{ shot.id }}" hidden>


			<p>Shot: <img src="{{ asset('img/' ~ shot.image) }}" alt=""></p>
			<p>Price: ${{ sub.price | number_format(2, '.', ',') }}</p>
			<button type="button" class="btn btn-primary">Pay</button>
			<br>
			<a href="{{ path('shots_boost', {'shot_id': shot.id}) }}"><< back</a>
		</div>
	</div>
</div>
	
{% endblock %}
