{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <main>
        <div class="login-left">
            <div class="logo"></div>
            <a class="button button-bordered button-back" href="{{ path('app_login') }}">Back</a>
            <h1>Password Recovery</h1>
            <div class="title-description">Enter your email address and we will send you instructions to reset your password</div>
            {{ form_start(requestForm, {'attr': {'id': 'reset-password-form'}}) }}
                <div class="form-group {{ email ? '' : 'input-error' }}">
                    {{ form_widget(requestForm.email, {
                        'id': 'email',
                        'attr': {'class': 'input-default'},
                    }) }}
                    <label for="email">Email address</label>
                    <div class="error-tip">Could not find your account. Try to enter another email address.</div>
                </div>
                <div class="divider-dark"></div>
                <div class="btn-group">
                    <button class="button button-default" id="submit-btn" type="submit">Submit</button>
                </div>
            {{ form_end(requestForm) }}
            <div class="link-group">
                <span>Don’t have an account?</span>&nbsp;<a class="link-sm" href="{{ path('app_register') }}">Register Now</a>
            </div>
        </div>
        <div class="login-right">
            <div class="login-carousel owl-carousel">
                <div class="login-carousel__item">
                    <div class="login-carousel__item-img">
                        <img src="{{ asset('img/banners/banner-1.png') }}" alt="Banner 1">
                    </div>
                    <div class="login-carousel__item-name">
                        Mass likes and subscriptions -the most profitable way attracting subscribers and сustomers.
                    </div>
                    <div class="login-carousel__item-desc">
                        Start getting massive engagement from real people on Dribbble with the best in class grows automation tools
                    </div>
                </div>
                <div class="login-carousel__item waves">
                    <div class="login-carousel__item-img">
                        <img src="{{ asset('img/banners/banner-2.png') }}" alt="Banner 2">
                    </div>
                    <div class="login-carousel__item-name">
                        Mass likes and subscriptions -the most profitable way attracting subscribers and сustomers.
                    </div>
                    <div class="login-carousel__item-desc">
                        Start getting massive engagement from real people on Dribbble with the best in class grows automation tools
                    </div>
                </div>
                <div class="login-carousel__item">
                    <div class="login-carousel__item-img">
                        <img src="{{ asset('img/banners/banner-1.png') }}" alt="Banner 1">
                    </div>
                    <div class="login-carousel__item-name">
                        Mass likes and subscriptions -the most profitable way attracting subscribers and сustomers.
                    </div>
                    <div class="login-carousel__item-desc">
                        Start getting massive engagement from real people on Dribbble with the best in class grows automation tools
                    </div>
                </div>
                <div class="login-carousel__item waves">
                    <div class="login-carousel__item-img">
                        <img src="{{ asset('img/banners/banner-2.png') }}" alt="Banner 2">
                    </div>
                    <div class="login-carousel__item-name">
                        Mass likes and subscriptions -the most profitable way attracting subscribers and сustomers.
                    </div>
                    <div class="login-carousel__item-desc">
                        Start getting massive engagement from real people on Dribbble with the best in class grows automation tools
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="radials-bg">
        <div class="radial-bg radial-1"></div>
        <div class="radial-bg radial-2"></div>
        <div class="radial-bg radial-3"></div>
    </div>
    
{#    {% for flashError in app.flashes('reset_password_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
{#    {% endfor %}#}

{#    {{ form_start(requestForm) }}#}
{#        {{ form_row(requestForm.email) }}#}
{#        <button class="btn btn-primary">Send password reset email</button>#}
{#    {{ form_end(requestForm) }}#}
{% endblock %}

{% block footer_scripts %}
    
    <script>
        $('#submit-btn').click(function (e) {
            e.preventDefault();
            
            let email = checkField('email');
            
            if (!email) {
                return false;
            }
            
            console.log('submitting...');
            
            $('#reset-password-form').submit();
        });
    </script>

{% endblock %}