{% extends 'settings.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
	<div class="main-wrapper default-card">
		<div class="settings-form m-auto">

			<div class="settings-title">Profile settings</div>

			<div class="title-description">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				{% endfor %}
			</div>

			<form method="post" id="settings-profile-form">
				<input type="text" name="action" value="save-changed" hidden>
				<div class="form-group flex flex-column">
					<input class="input-default settings-input" id="full-name" type="text" name="username" value="{{ app.user.fullName }}">
					<label for="username">Username</label>
					<div class="error-tip">Wrong format</div>
					<span class="settings-tip">Used for messege you correctly</span>
				</div>
				<div class="form-group flex flex-column">
					<input class="input-default settings-input" id="email" type="email" name="email" value="{{ app.user.email }}">
					<label for="email">Email address</label>
					<div class="error-tip">Wrong format</div>
					<span class="settings-tip">Please enter the email associated to your Dribbble account</span>
				</div>

				<div class="divider-dark"></div>

				<div class="section-title">Password</div>
				<div class="form-group password-group">
					<input class="input-default settings-input" id="old-password" type="password" name="old-password">
					<label for="old-password">Old password</label>
					<div class="error-tip">Wrong password</div>
					<div class="form-show"></div>
				</div>
				<div class="form-group password-group">
					<input class="input-default settings-input" id="new-password" type="password" name="password">
					<label for="password">Password</label>
					<div class="error-tip">Wrong password</div>
					<div class="form-show"></div>
				</div>
				<div id="strength">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<ul class="list-unstyled restore-list">
					<li>At least 8 characters</li>
					<li>At least one number or symbol</li>
					<li>Both uppercase and lowercase letters</li>
				</ul>
				<div class="btn-group">
					<button class="button button-default" id="save-changes-btn" type="submit" disabled>Save changes</button>
				</div>
			</form>
			<div class="divider-dark"></div>
			<form method="post">
				<div class="section-title">Connected accounts</div>
				<div class="form-group form-connect">
					<input class="input-default" id="dribbble" type="text" name="dribbble" value="{{ app.user.dribbbleLogin }}" disabled>
					<label for="dribbble">Dribbble</label>
					<div class="error-tip">Wrong format</div>
					{% if app.user.dribbbleLogin %}
						<div data-toggle="modal-cancel-connected" class="modal-toggle form-exit"></div>
					{% else %}
						<a href="{{ path('dashboard') }}">
							<div class="form-add"></div>
						</a>
					{% endif %}
				</div>
				<div class="form-group form-connect">
					<input class="input-default" id="behance" type="text" name="behance" value="Soon" disabled>
					<label for="behance">Behance</label>
					<div class="error-tip">Wrong format</div>
				</div>
				<div class="form-group form-connect">
					<input class="input-default" id="instagram" type="text" name="instagram" value="Soon" disabled>
					<label for="instagram">Instagram</label>
					<div class="error-tip">Wrong format</div>
				</div>
			</form>
			<div class="divider-dark"></div>
			<form method="post">
				<div class="btn-group settings-group">
					<div class="group-title">
						Connected Accounts
					</div>
					<div class="group-description">
						Delete your account and account data
					</div>
					<a href="#" data-toggle="modal-delete" class="modal-toggle button button-default button-warning text-center">Close account</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block modals %}
	
	<div id="modal-delete" class="modal m-auto">
		<a href="#" class="button-close modal-close"></a>
		<div class="modal-image user"></div>
		<div class="modal-title text-center">Are you sure to Close your Account?</div>
		<div class="modal-description text-center">All account information will be lost!</div>
		<div class="divider-dark"></div>
		<div class="btn-group modal-btn__group grid">
			<a href="#" class="button button-grey text-center">Close Account</a>
			<a href="#" class="button button-default text-center modal-close">Cancel</a>
		</div>
	</div>
	<div id="modal-cancel-connected" class="modal m-auto">
		<a href="#" class="button-close modal-close"></a>
		<div class="modal-image cancel"></div>
		<div class="modal-title text-center">Are you shure to delete connected Dribbble account <span>{{ app.user.dribbbleLogin }}</span>?</div>
		<div class="divider-dark"></div>
		<div class="btn-group modal-btn__group grid">
			<a href="#" class="button button-grey text-center" id="logout-dribbble-btn">Yes</a>
			<a href="#" class="button button-default text-center modal-close">No</a>
		</div>
		<form method="post" id="logout-dribbble-form">
			<input type="text" name="action" value="logout-dribbble" hidden>
		</form>
	</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		let init_email = '{{ app.user.email }}';
		let init_full_name = '{{ app.user.fullName }}';
		let id_email = 'email';
		let id_full_name = 'full-name';
		let id_old_password = 'old-password';
		let id_new_password = 'new-password';
		let id_save_btn = 'save-changes-btn';

		// action when there are any changes in fullName, email, or password fields
		$('.settings-input').on('keyup', function() {
			let is_changed = isChanged();

			if (is_changed) {
				$('#' + id_save_btn).attr('disabled', false);
			} else {
				$('#' + id_save_btn).attr('disabled', true);
			}
		});

		// check whether fullName, email, or password was changed
		function isChanged() {
			let full_name = $('#' + id_full_name).val();
			let email = $('#' + id_email).val();
			let old_password = $('#' + id_old_password).val();
			let new_password = $('#' + id_new_password).val();

			if (full_name != init_full_name) {
				return true;
			}

			if (email != init_email) {
				return true;
			}

			if (old_password || new_password) {
				return true;
			}

			return false;
		}

		// save changes to fullName, email, and password action
		$('#' + id_save_btn).click(function (e) {
			e.preventDefault();

			let fullName = checkField(id_full_name);
			let email = checkField(id_email);
			let is_password_changed = $('#' + id_old_password).val() || $('#' + id_new_password).val();
			let oldPassword = is_password_changed ? checkField(id_old_password) : true;
			let newPassword = is_password_changed ? checkField(id_new_password) : true;

			if (!fullName || !email || !oldPassword || !newPassword) {
				return false;
			}
			$('#settings-profile-form').submit();
		});

		// logout from Dribbble account action
		$('#logout-dribbble-btn').click(function() {
			$('#logout-dribbble-form').submit();
		});
	</script>
{% endblock %}

