<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

        {% include 'header.html.twig' %}

        <main>
            <div class="container settings-container grid">
                <aside class="colum-left grid">
                    <div class="settings-user">
                        <div class="settings-user__info flex flex-column align-center">
                            <div class="settings-user__avatar" style="background: url({{ asset('img/avatar.png') }}) center / cover no-repeat"></div>
                            <div class="settings-user__name">{{ app.user.fullName }}</div>
                            <div class="settings-user__rank">Newbie</div>
                        </div>
                    </div>
    
                    {% set route_name = app.request.attributes.get('_route') %}
                    
                    <ul class="settings-nav flex flex-column list-unstyled">
                        <li>
                            <a href="{{ path('settings_profile') }}" class="{{ route_name == "settings_profile" ? 'active' : '' }} flex align-center">
                        <span class="settings-icon flex align-center justify-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="24px/Profile">
                            <g id="Profile">
                            <path id="Profile_2" fill-rule="evenodd" clip-rule="evenodd" d="M17.294 7.29105C17.294 10.2281 14.9391 12.5831 12 12.5831C9.0619 12.5831 6.70601 10.2281 6.70601 7.29105C6.70601 4.35402 9.0619 2 12 2C14.9391 2 17.294 4.35402 17.294 7.29105ZM12 22C7.66237 22 4 21.295 4 18.575C4 15.8539 7.68538 15.1739 12 15.1739C16.3386 15.1739 20 15.8789 20 18.599C20 21.32 16.3146 22 12 22Z"/>
                            </g>
                            </g>
                            </svg>
                        </span>
                                Edit profile
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('settings_billing') }}" class="{{ route_name == "settings_billing" ? 'active' : '' }} flex align-center">
                        <span class="settings-icon flex align-center justify-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="24px/Payment">
                            <g id="Wallet">
                            <path id="Wallet_2" fill-rule="evenodd" clip-rule="evenodd" d="M17.7689 8.3818H22C22 4.98459 19.9644 3 16.5156 3H7.48444C4.03556 3 2 4.98459 2 8.33847V15.6615C2 19.0154 4.03556 21 7.48444 21H16.5156C19.9644 21 22 19.0154 22 15.6615V15.3495H17.7689C15.8052 15.3495 14.2133 13.7975 14.2133 11.883C14.2133 9.96849 15.8052 8.41647 17.7689 8.41647V8.3818ZM17.7689 9.87241H21.2533C21.6657 9.87241 22 10.1983 22 10.6004V13.131C21.9952 13.5311 21.6637 13.8543 21.2533 13.8589H17.8489C16.8548 13.872 15.9855 13.2084 15.76 12.2643C15.6471 11.6783 15.8056 11.0736 16.1931 10.6122C16.5805 10.1509 17.1573 9.88007 17.7689 9.87241ZM17.92 12.533H18.2489C18.6711 12.533 19.0133 12.1993 19.0133 11.7877C19.0133 11.3761 18.6711 11.0424 18.2489 11.0424H17.92C17.7181 11.0401 17.5236 11.1166 17.38 11.255C17.2364 11.3934 17.1555 11.5821 17.1556 11.779C17.1555 12.1921 17.4964 12.5282 17.92 12.533ZM6.73778 8.3818H12.3822C12.8044 8.3818 13.1467 8.04812 13.1467 7.63649C13.1467 7.22487 12.8044 6.89119 12.3822 6.89119H6.73778C6.31903 6.89116 5.9782 7.2196 5.97333 7.62783C5.97331 8.04087 6.31415 8.37705 6.73778 8.3818Z"/>
                            </g>
                            </g>
                            </svg>
                        </span>
                                Billing & Payments
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex align-center">
                        <span class="settings-icon flex align-center justify-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="24px/Refferal">
                            <path id="3 Friends" fill-rule="evenodd" clip-rule="evenodd" d="M15.7803 8.70375C15.7803 10.7597 14.0774 12.4083 11.9537 12.4083C9.82994 12.4083 8.12704 10.7597 8.12704 8.70375C8.12704 6.64699 9.82994 5 11.9537 5C14.0774 5 15.7803 6.64699 15.7803 8.70375ZM11.9536 19C8.83431 19 6.1709 18.5241 6.1709 16.6202C6.1709 14.7155 8.81722 14.2222 11.9536 14.2222C15.0728 14.2222 17.7362 14.6982 17.7362 16.6028C17.7362 18.5067 15.0899 19 11.9536 19ZM17.4159 8.7706C17.4159 9.81868 17.0911 10.795 16.5213 11.6067C16.4627 11.6903 16.5148 11.8029 16.6182 11.8203C16.7606 11.8439 16.9079 11.8573 17.0577 11.8613C18.5514 11.8991 19.8921 10.9684 20.2624 9.5673C20.8111 7.48611 19.2002 5.61768 17.1489 5.61768C16.9259 5.61768 16.7126 5.64054 16.505 5.68151C16.4765 5.68782 16.4464 5.70043 16.4301 5.72486C16.4106 5.7548 16.4252 5.79499 16.4448 5.821C17.061 6.6571 17.4159 7.67681 17.4159 8.7706ZM19.8893 13.3235C20.893 13.5134 21.5531 13.9011 21.8266 14.4645C22.0578 14.9271 22.0578 15.4638 21.8266 15.9256C21.4082 16.7995 20.0594 17.08 19.5352 17.1525C19.427 17.1683 19.3399 17.0777 19.3513 16.9728C19.6191 14.5512 17.4888 13.4031 16.9377 13.1391C16.9141 13.1273 16.9093 13.1091 16.9117 13.0981C16.9133 13.0902 16.9231 13.0776 16.941 13.0752C18.1335 13.054 19.4156 13.2116 19.8893 13.3235ZM6.94277 11.8612C7.09254 11.8573 7.23906 11.8447 7.38233 11.8202C7.48571 11.8029 7.5378 11.6902 7.47919 11.6067C6.90939 10.795 6.58461 9.81862 6.58461 8.77054C6.58461 7.67675 6.93951 6.65704 7.55571 5.82094C7.57525 5.79493 7.58908 5.75474 7.57036 5.7248C7.55408 5.70116 7.52315 5.68776 7.49547 5.68146C7.28709 5.64048 7.07382 5.61763 6.85078 5.61763C4.7995 5.61763 3.18859 7.48605 3.73804 9.56724C4.10841 10.9684 5.44907 11.899 6.94277 11.8612ZM7.08813 13.0977C7.09057 13.1095 7.08568 13.1268 7.06289 13.1394C6.511 13.4034 4.38075 14.5516 4.64856 16.9724C4.65996 17.078 4.57367 17.1678 4.46541 17.1529C3.94119 17.0804 2.59239 16.7998 2.17399 15.9259C1.942 15.4633 1.942 14.9275 2.17399 14.4649C2.4475 13.9014 3.10684 13.5137 4.1105 13.323C4.58507 13.2119 5.86631 13.0543 7.05964 13.0756C7.07754 13.078 7.0865 13.0906 7.08813 13.0977Z"/>
                            </g>
                            </svg>
                        </span>
                                Referral Program
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal-logout" class="modal-toggle flex align-center">
                        <span class="settings-icon flex align-center justify-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="24px/Logout">
                            <path id="Logout" fill-rule="evenodd" clip-rule="evenodd" d="M9.59892 10.7685C9.17784 10.7685 8.8449 11.0915 8.8449 11.5C8.8449 11.899 9.17784 12.2315 9.59892 12.2315H15.4744V16.7725C15.4744 19.1 13.5257 21 11.1167 21H6.34783C3.94869 21 2 19.1095 2 16.782V6.2275C2 3.8905 3.95848 2 6.35763 2H11.1363C13.5257 2 15.4744 3.8905 15.4744 6.218V10.7685H9.59892ZM18.9683 8.21319L21.7787 10.9777C21.9231 11.1202 22.0001 11.3007 22.0001 11.5002C22.0001 11.6902 21.9231 11.8802 21.7787 12.0132L18.9683 14.7777C18.824 14.9202 18.6315 14.9962 18.4486 14.9962C18.2561 14.9962 18.0636 14.9202 17.9192 14.7777C17.6305 14.4927 17.6305 14.0272 17.9192 13.7422L19.4592 12.2317H15.4746V10.7687H19.4592L17.9192 9.25819C17.6305 8.97319 17.6305 8.50769 17.9192 8.22269C18.208 7.92819 18.6796 7.92819 18.9683 8.21319Z"/>
                            </g>
                            </svg>
                        </span>
                                Log out
                            </a>
                        </li>
                    </ul>
                    <div class="default-card p-0">
                        <div class="aside-boost grid align-center h-100">
                            <div class="boost-image"><img src="{{ asset('img/dribbble.png') }}" class="img-fluid" alt="Boost now"></div>
                            <div class="boost-info">
                                <div class="boost-title">Artlift pro booster</div>
                                <div class="boost-price">
                                    $ 14.99
                                    <span class="old-price">$ 30</span>
                                </div>
                                <div class="button button-default boost-button">Boost now</div>
                            </div>
                        </div>
                    </div>
                </aside>
                
                {% block body %}{% endblock %}

                <script src="{{ asset('js/validation.js') }}"></script>
            </div>
        </main>
        <div id="modal-logout" class="modal m-auto">
            <a href="#" class="button-close modal-close"></a>
            <div class="modal-image questionmark"></div>
            <div class="modal-title text-center">Are you sure you want to Log Out?</div>
            <div class="divider-dark"></div>
            <div class="btn-group modal-btn__group grid">
                <a href="#" class="button button-bordered text-center modal-close">Cancel</a>
                <a href="{{ path('app_logout') }}" class="button button-default text-center">Log Out</a>
            </div>
        </div>
        
        {% block modals %}{% endblock %}

        {% block footer_scripts %}
        
        {% endblock %}
    </body>
</html>
